<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body>
	<i class="fas fa-sign-in-alt fa-8x icon-login"></i>
	<h1 class="icon-login title-login">Login - buscador de alimentos</h1>
	<form method="post">
		<input placeholder="Username" id="uname"  class="input-resize-login input-busca" type="text" size="30" name="username">
		<input  placeholder="Senha" id="pass" class="input-resize-login input-busca"  type="password" size="30" name="password">
		<button id="botao-login"  class="button-resize btn-login botao-busca" type="submit">Entrar</button>
	</form>

	<a href="/cadastro"><button href="/cadastro"  class="button-resize-cadastro botao-busca " name="cadastro" type="button">Cadastrar uma nova conta</button></a>
	
	<script type="text/javascript">
		document.querySelector("#botao-login").addEventListener("click",validarLogin);
		
		
		function validarLogin(){
			let username =  document.querySelector("#uname").value
			let password = document.querySelector("#pass").value

			if (username == "" || password == ""){
				alert('Por favor, preencha os dois campos');
				return false;
			}
		}

	</script>

</body>
</html>